.font-family {
    font-family: 'Raleway', sans-serif;
}

#header {
    font-size: 35px;
}

a {
    color: white;
}

li {
    font-weight: 600;
}

ul li a .fa-light .fa-x:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 10;
}